* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

body {
    background-color: white;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.content {
    position: absolute;

    height: 100vh;
    width: 100vw;

    display: flex;

    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;

    gap: 5vw;

    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 30px;
}

.content .launcherInfo {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 40px;
    /* min-width: 566px; */
    gap: 50px;
    align-items: center;
}

.launcherInfo .readyToLaunch p {
    text-transform: uppercase;
    color: var(--purple);
    font-size: 40px;
    font-weight: 700;
}

.launcherInfo .timerLabels {
    display: flex;
    margin-left: 25px;
}

.launcherInfo .timerLabels p {
    color: var(--light-grey);
    font-size: 16px;
    font-weight: 300;
}

.launcherInfo .timerLabels p:nth-child(1) {
    margin-right: 110px;
    margin-left: 18px;
}

.launcherInfo .timerLabels p:nth-child(2) {
    margin-right: 98px;
}

.launcherInfo .timerLabels p:nth-child(3) {
    margin-right: 75px;
}

.launcherInfo .timerCountdown {
    display: flex;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.launcherInfo .timerCountdown p {
    font-size: 72px;
    font-weight: 400;
    color: var(--black);
    margin: 0 10px;
}

.launcherInfo .timerCountdown p.number {
    width: 95px;
    text-align: center;
}

.launcherInfo p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.launcherInfo button {
    background-color: var(--purple);
    height: 50px;
    width: 160px;
    color: white;
    border-radius: 10px;
}

.content img {
    width: 30rem;
    height: 21rem;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 3rem;
}



@media (max-width: 1100px) {
    body {
        margin: 0;
        padding: 0;
    }
    .content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100vw;
        height: 100vh;

        margin: 0;
        padding: 0;

        position: relative;
    }

    .content .launcherInfo {
        margin-top: 5vh;
        padding: 0;
        min-width: 0;
    }

    .content img {
        margin: 0;
        padding: 0;
    }

    .topImg, .bottomImg {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .content .launcherInfo {
        gap: 25px;
    }

    .launcherInfo .readyToLaunch p {
        font-size: 30px;
    }

    .launcherInfo .timerLabels p {
        font-size: 10px;
    }

    .launcherInfo .timerLabels p:nth-child(1) {
        margin-right: 105px;
        margin-left: 18px;
    }
    
    .launcherInfo .timerLabels p:nth-child(2) {
        margin-right: 98px;
    }
    
    .launcherInfo .timerLabels p:nth-child(3) {
        margin-right: 90px;
    }

    .launcherInfo .timerCountdown p {
        font-size: 54px;
    }

    .launcherInfo .timerCountdown p.number {
        width: 80px;
    }

    .launcherInfo p {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .launcherInfo .readyToLaunch p {
        font-size: 24px;
    }

    .launcherInfo .timerLabels p {
        font-size: 10px;
    }

    .launcherInfo .timerLabels p:nth-child(1) {
        margin-right: 90px;
        margin-left: 0px;
    }
    
    .launcherInfo .timerLabels p:nth-child(2) {
        margin-right: 78px;
    }
    
    .launcherInfo .timerLabels p:nth-child(3) {
        margin-right: 65px;
    }

    .launcherInfo .timerCountdown p {
        font-size: 46px;
    }

    .launcherInfo .timerCountdown p.number {
        width: 60px;
    }

    .launcherInfo p {
        font-size: 10px;
    }
}